.DS_Store
.dart_tool/

.packages
.pub/

.idea/
.vagrant/
.sconsign.dblite
.svn/

*.swp
profile

DerivedData/

.generated/

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

xcuserdata

*.moved-aside

*.pyc
*sync/
Icon?
.tags*

build/
.android/
.flutter-plugins
.flutter-plugins-dependencies

.gradle/
.vscode/
.ios/Config/
.ios/Flutter/
.ios/Pods/
.ios/Runner.*/
.ios/Runner/*.m
.ios/Runner/*.h
.ios/Runner/Assets.xcassets
.ios/Runner/Base.lproj

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
